/*----------------------- containers*/
.container {
    width: 1190px;
    margin: 0 auto;
}

.container-small {
    width: 580px;
}

.parallax {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*---------------------- wave ----*/

.wave {
    display: flex;
    width: 3000px;
    height: 100vh;
    background: #E5E5E5;
    position: absolute;
    top: 0;
    left: 0;
    animation: waveDown 10s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.wave .wave-green {
    display: flex;
    width: 3000px;
    height: auto;
    background: #E5E5E5;
    position: absolute;
    top: -430px;
    left: 0;
}


@keyframes waveDown {
    0% {
        margin-left: 0;
        top: 0;
    }
    100% {
        margin-left: -100%;
        top: 200%;
    }
}

/*---------------------- header ----*/
.first-block {
    position: relative;
    background: #C8D24E;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;
    position: relative;
    z-index: 2;
}

.header-logo a .img-svg path {
    fill: #000;
}

.header-logo a:hover .img-svg path {
    fill: #4D36F3;
    transition: all .3s ease;
}

/*---------------------- burger menu ----*/

.header-menu-btn, .header-menu-btn-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    margin-left: -18px;
    border-radius: 50%;
}

.header-menu-btn svg,
.header-menu-btn-second svg {
    stroke: #000;
}

.header-menu-btn:hover,
.header-menu-btn-second:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: #C8D24E;
    border-radius: 50%;
    transition: all .3s ease;
}

.header-menu-btn:hover svg,
.header-menu-btn-second:hover svg {
    stroke: #fff;
    transition: all .3s ease;
}

.menu-list,
.menu-list-second {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(229, 229, 229, .8);
    z-index: 5;
    transition: all ease 1s;
    transform: translateX(-100%);
}

.menu-list .header-menu-block,
.menu-list-second .header-menu-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 430px;
    height: 100%;
    padding: 43px;
    background: #FEFCF7;
}

.menu-list .header-menu-block .header-menu-btn,
.menu-list-second .header-menu-block .header-menu-btn-second {
    position: absolute;
    top: 43px;
    left: 43px;
}

.menu-active {
    display: flex;
    transform: translateX(0%);
}

.menu-list .menu,
.menu-list-second .menu {
    display: flex;
    flex-direction: column;
}

.menu-list .menu li a,
.menu-list-second .menu li a {
    font-family: 'Codec Warm', sans-serif;
    font-size: 48px;
    line-height: 160.42%;
    letter-spacing: -0.015em;
    color: #000;
    border-bottom: 2px solid #fff;
}

.menu-list .menu li:hover a,
.menu-list-second .menu li:hover a {
    color: #FF4016;
    transition: all .3s ease;
    border-bottom: 2px solid #FF4016;
}

/*---------------------- main ----*/
.main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 483px;
    position: relative;
    z-index: 2;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 44%;
}

.main-title h1 {
    margin-bottom: 30px;
}

/*---------------------- parallax-images ----*/
.parallax-images {
    margin: 0 auto;
    position: absolute;
    width: 1190px;
    height: 100%;
    z-index: 1;
    top: 0;
    background: none;
}

.images-paralax__pie {
    position: absolute;
    top: 10%;
    left: 38%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.images-paralax__grains {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

/*---------------------- red-btn ----*/
.red-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    height: 265px;
    position: absolute;
    bottom: -140px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background: #FF4016;
    border-radius: 50%;
    z-index: 2;
}

.red-button:hover {
    cursor: pointer;
    background: #FFFFFF;
    transition: all .3s ease;
}

.red-button:hover h2 {
    color: #090909;
    transition: all .3s ease;
}

.red-button:hover .red-button .arrow svg,
.red-button:hover .arrow.two svg {
    stroke: #000;
    transition: all .3s ease;
}

.red-button h2 {
    margin-top: 52px;
    color: #fff;
}

.red-button .arrow {
    width: 13px;
    height: 15px;
    position: absolute;
    top: 90px;
    left: calc(50% - 7px);
    animation: arrowDown 2s infinite;
}

.red-button .arrow svg,
.arrow.two svg {
    stroke: #fff;
}

.arrow.two {
    stroke: #fff;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes arrowDown {
    0% {
        top: 90px;
        opacity: 1;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 90px;
        opacity: 0;
    }
}

/*---------------------- second-block ----*/
.second-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 35px;
}

.second-block header {
    margin-top: 0;
}

/*---------------------- main-order ----*/
.main-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-order .main-title {
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: auto;
}

.main-order .main-title .main-text {
    width: 100%;
}

.main-order .main-title .main-text h2 {
    margin-top: 50px;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.015em;
    color: #000000;
}

.main-order .main-title .main-text p {
    font-size: 16px;
    line-height: 130.42%;
    color: #0C0C0C;
}

/*---------------------- main-order-form ----*/
.main-order-form {
    display: flex;
    flex-direction: column;
    width: 790px;
    height: 520px;
    position: relative;
    background: #FCF9F0;
    border-radius: 18px;
    padding: 40px 60px;
}

.main-order-form p {
    font-family: "CodecWarm", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 130.42%;
    color: #0C0C0C;
}

.buckwheat {
    position: absolute;
    right: 0;
    bottom: 45px;
}

.range-like {
    margin-bottom: 30px;
}

.range-like p, .range-time p {
    margin-bottom: 30px;
}

.range-like p.range-values-text {
    margin-top: 6px;
    margin-bottom: 0px;
    font-family: "Codec Warm", sans-serif;
    font-size: 12px;
    line-height: 130.42%;
    color: #0C0C0C;
}

.main-order-form .slider-range {
    appearance: none;
    width: 100%;
    height: 3px;
    background: #C8D24E;
    outline: none;
    transition: .2s;
}

.main-order-form .slider-range::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 2px solid #686E29;
    border-radius: 50%;
    cursor: pointer;
}

.main-order-form .slider-range::-moz-range-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 2px solid #686E29;
    border-radius: 50%;
    cursor: pointer;
}

.range-time .range-time-slider {
    position: relative;
    width: 100%;
}

.range-time input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.range-time .time-slider-track{
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
.range-time input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.range-time input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.range-time input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
.range-time input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -9px;
    pointer-events: auto;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 2px solid #686E29;
    border-radius: 50%;
    cursor: pointer;
}
.range-time input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -9px;
    pointer-events: auto;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 2px solid #686E29;
    border-radius: 50%;
    cursor: pointer;
}
.range-time input[type="range"]::-ms-thumb{
    appearance: none;
    margin-top: -9px;
    pointer-events: auto;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 2px solid #686E29;
    border-radius: 50%;
    cursor: pointer;
}
.range-time input[type="range"]:active::-webkit-slider-thumb{
    background: #fff;
    border: 2px solid #686E29;
}
.range-time .range-time-slider-values {
    position: relative;
    top: 20px;
    font-family: "CodecWarm Bold", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 130.42%;
    color: #0C0C0C;
}

.range-time .range-time-slider-values span{
    font-family: "CodecWarm", sans-serif;
    font-size: 12px;
    line-height: 130.42%;
    color: #0C0C0C;
}

.time-eat {
    margin: 40px 0 30px 0;
}

.time-eat p {
    margin-bottom: 20px;
}

.time-eat-choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.time-eat-check-items {
    position: relative;
}

.time-eat-check-item {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.time-eat-label {
    padding-left: 31px;
    font-family: "Codec Warm", sans-serif;
    font-size: 16px;
    line-height: 130.42%;
    color: #0C0C0C;
    cursor: pointer;
}

.time-eat-label:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #686E29;
    box-sizing: border-box;
    border-radius: 6px;
    z-index: 1;
}

.time-eat-label:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #C8D24E;
    border-radius: 2px;
    z-index: 2;
    opacity: 0;
}

.time-eat-check-item:checked + .time-eat-label:after {
    opacity: 1;
}

/*---------------------- form name and phone  ----*/
.user-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

.user-info .user-info-name,
.user-info .user-info-phone {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.user-info .user-info-label {
    font-family: "CodecWarm", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 130.42%;
    color: #0C0C0C;
}

.user-info .user-info-input {
    padding: 11px 15px;
    font-size: 16px;
    line-height: 130.42%;
    color: #7C7C7C;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}

.user-info .user-order {

}
    /*---------------------- form validate  ----*/
.user-info ._error{
    border: 1px solid #FF4016;
}

    /*---------------------- form-btn  ----*/

.form-btn {
    padding: 15px 50px;
    background: #FF4016;
    border-radius: 47px;
    outline: none;
    border: none;
    font-family: "Codec Warm", sans-serif;
    font-size: 18px;
    line-height: 130.42%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.form-btn:hover {
    background: #C02300;
    transition: all .3s ease;
}

    /*---------------------- footer ----*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #1F1F1F;
}

.footer-logo a .img-svg path {
    fill: #fff;
}

.footer-logo a:hover .img-svg path {
    fill: #4D36F3;
    transition: all .3s ease;
}
